# AWS Configuration ("us-east-1" by default)
# aws_region = "us-east-2"

# Unique identifier for this Ownstak backend ("ownstak" by default)
# Give it a unique name if multiple backends are deployed in the same AWS Account / Region
# (14 characters max to avoid AWS resource name limits)
# resource_prefix = "ownstak-abcd"

# Networking Configuration (uses default VPC/Subnets by default)
#

# vpc_id = "vpc-12345678"
# public_subnet_ids = ["subnet-12345678", "subnet-87654321"]
# private_subnet_ids = ["subnet-11111111", "subnet-22222222"]

# VPC S3 Endpoint (optional - for private bucket access)
# vpc_s3_endpoint_id = "vpce-12345678"


# ALB Configuration
#
# Enable if the ALB should not exposed to the internet directly.
# use_internal_alb = true

# DNS Configuration
#
# The Ownstak backend requires a wildcard domain to serve your sites.
ownstak_wilcard_domain = "*.example.com"

# If you have a Route53 hosted zone for this domain, the certificate can be generated automatically
# and the CNAME record to the ALB can be created automatically.
# Otherwise, set this to false and you will have to provide the certificate ARN and create the CNAME record to the ALB manually.
# automatic_dns = false

# Optional: Specify the Route53 hosted zone ID (will auto-detect if not provided)
# domain_zone_id = "Z1234567890ABCDEF"

# Cert Configuration
#
# Provide your own certificate ARN. Will be created automatically if not provided.
# This is mandatory if automatic_dns = false.
# certificate_arn = "arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012"


# Lambda Proxy Configuration
#
# Pin a specific version or use your own docker image (uses latest by default)
# ecr_image = "public.ecr.aws/ownstak/ownstak-proxy:x.y.z

# Auto-scaling limits
min_instances = 2
max_instances = 6

# CPU/Memory - teak only if needed
# instance_cpu = 512
# instance_memory = 1024

